<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2660.vb_c0412dc4e6d">
    <script>pipeline{
  agent any
    stages{
      stage(&apos;Cleanup&apos;){
          steps{
            cleanWs()
          }
      }
      stage(&apos;Clone GitLab repo&apos;){
          steps{
              sh &apos;git clone https://gitlab.com/sweetysweat/netcraker-devops-project.git&apos;
          }
      }
      stage(&apos;Run Ansible to configure PostgreSQL&apos;){
        steps{
            dir (&apos;netcraker-devops-project/ansible_postgres_liferay&apos;){
                ansiblePlaybook playbook: &apos;playbooks/postgresql_pb.yaml&apos;,
                extras: &apos;-e ansible_ssh_user={{ ansible_ssh_user }} -v --vault-password-file /home/{{ ansible_ssh_user }}/vault_pass.txt --private-key=/home/{{ ansible_ssh_user }}/.ssh/id_rsa&apos;,
                inventory: &apos;hosts&apos;
            }
        }

      }
      stage(&apos;Run Ansible to configure Liferay&apos;){
        steps{
            dir (&quot;netcraker-devops-project/ansible_postgres_liferay&quot;){
                ansiblePlaybook playbook: &apos;playbooks/wildfly-liferay-pb.yaml&apos;,
                extras: &apos;-e ansible_ssh_user={{ ansible_ssh_user }} -v --vault-password-file /home/{{ ansible_ssh_user }}/vault_pass.txt --private-key=/home/{{ ansible_ssh_user }}/.ssh/id_rsa&apos;,
                inventory: &apos;hosts&apos;
            }
        }

      }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>